<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>申诉提交</title>
	<style type="text/css">
		.tips {
			font-size: 14px;
			color: #7a7a7a;
		}
		#preview {
			width: 350px;
			line-height: 340px;
			text-align: center;
			font-size: 30px;
			color: #ddd;
			border: 3px dashed #eee;
			padding: 2px;
			position:relative;
		}
		#preview img {
			height: 344px;
			width:100%;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1><a href="/">云村顾问团</a>&nbsp;<small>标签申诉系统</small></h1>
			<a href="/mypull" class="btn btn-primary">申诉进度查询</a>
			<a href="/admin" class="btn btn-success">管理员登录</a>
			<a href="/all" class="btn btn-danger">管理员审核</a>
		</div>

		<form method="post" name="thisform" enctype="multipart/form-data"  onsubmit="return SendForm()">
            {% csrf_token %}
			<div class="form-group">
				<label for="InputUserid">网易云ID</label>
				<input type="text" class="form-control" name="userid" required>
		  	</div>
		  	<div class="form-group">
				<label for="InputUsername">网易云昵称</label>
				<input type="text" class="form-control" name="username" required>
		  	</div>
		  	<div class="form-group">
				<label for="InputMusicLink">音乐链接</label>
				<input type="text" class="form-control"   name="musicLink" required autocomplete="off">
		  	</div>
		  	<div class="form-group">
				<label for="InputMusicLink">系统标签为？</label>
				<select onchange="select_change()"  id="select_id" class="form-control" name="systemLabel">
					<option value="金属">金属</option>
					<option value="摇滚">摇滚</option>
					<option value="电子">电子</option>
					<option value="民谣">民谣</option>
					<option value="古典">古典</option>
					<option value="爵士">爵士</option>
					<option value="嘻哈说唱">嘻哈说唱</option>
					<option value="古风">古风</option>
					<option value="二次元">二次元</option>
					<option value="轻音乐">轻音乐</option>
					<option value="乡村">乡村</option>
					<option value="欧美流行">欧美流行</option>
					<option value="华语流行">华语流行</option>
					<option value="流行">流行</option>
					<option value="儿歌">儿歌</option>
					<option value="儿童">儿童</option>
					<option value="其他">其他</option>
				</select>
				<input type="text" class="form-control"  name="systemLabel2" id="input_text" style="display: none">
		  	</div>

			<div class="form-group">
				<label>正确标签是否为系统给定标签</label>
				<select onchange="select_change3()" name="check_label" id="select_id3" class="form-control">
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</div>
		  
			<div class="form-group"  id="input_text3" style="display: none">
				<label for="InputMusicLink">你认为这首歌的正确标签是？</label>
				<select onchange="select_change2()"  id="select_id2" class="form-control" name="userLabel">
					<option value="金属">金属</option>
					<option value="摇滚">摇滚</option>
					<option value="电子">电子</option>
					<option value="民谣">民谣</option>
					<option value="古典">古典</option>
					<option value="爵士">爵士</option>
					<option value="嘻哈说唱">嘻哈说唱</option>
					<option value="古风">古风</option>
					<option value="二次元">二次元</option>
					<option value="轻音乐">轻音乐</option>
					<option value="乡村">乡村</option>
					<option value="欧美流行">欧美流行</option>
					<option value="华语流行">华语流行</option>
					<option value="流行">流行</option>
					<option value="儿歌">儿歌</option>
					<option value="儿童">儿童</option>
					<option value="其他">其他</option>
				</select>
				<input type="text" class="form-control"  name="userLabel2" id="input_text2" style="display: none" >
			</div>


			<div class="form-group">
				<label for="exampleInputFile">申诉截图(文件需小于2MB)</label>
				<input type="file" id="exampleInputFile" name="imgfile" accept="image/png, image/jpeg, image/gif, image/jpg" ><br />
				<p class="tips">提示: 也可以点击下方方框，直接粘贴截图</p>
				<div id="preview" name="preview" tabindex="2">图片预览</div>
				<input type="hidden" id="pic_src_base64" name="pic" value="" readonly/>
				<!--这里隐藏的input的value值是图片src的base64形式，后端直接用这个可以读到图片吗？上面exampleInputFile的数据直接不用了(因为不知道怎么把上传方式和粘贴方式的数据统一……)所以直接把两种方式的图片src都放在这个隐藏的input里，base64的具体格式可以把hidden去了在网页上看看-->
				<input type="hidden" id="pic_byte" name="pic_byte" value="" readonly/>
			</div><br />
			<button id="upload" type="submit" class="btn btn-primary">提交申诉</button><br /><br /><br /><br />
		</form>
	</div>

	<script type="text/javascript">
		function select_change() {
			if (document.getElementById("select_id").value == "其他") {
				document.getElementById("input_text").style.display = "block";
				document.getElementById('input_text').required = "true";
			} else {
				document.getElementById("input_text").style.display = "none";
				document.getElementById('input_text').required = "false"
				$("#input_text").removeAttr('required');
			}
		}
		function select_change2() {
			if (document.getElementById("select_id2").value == "其他") {
				document.getElementById("input_text2").style.display = "block";
				document.getElementById('input_text2').required = "true";

			} else {
				document.getElementById("input_text2").style.display = "none";
				document.getElementById('input_text2').required = "false";
				$("#input_text2").removeAttr('required');
			}
		}
		function select_change3() {
			if (document.getElementById("select_id3").value == "0") {
				document.getElementById("input_text3").style.display = "block";
				document.getElementById('input_text3').required = "true";
			} else {
				document.getElementById("input_text3").style.display = "none";
				document.getElementById('input_text3').required = "false";
				$("#input_text3").removeAttr('required');
			}
		}
		$(document).ready(function(){
			//上传方式的图片预览
			var preview = document.querySelector('#preview');
		    var eleFile = document.querySelector('#exampleInputFile');
		    eleFile.addEventListener('change', function() {
		        var file = this.files[0];
		        // 确认选择的文件是图片
		        if(file.type.indexOf("image") == 0) {
		            var reader = new FileReader();
		            reader.readAsDataURL(file);
		            reader.onload = function(e) {
		                //图片base64化
		                preview.innerHTML = '<img src="' + e.target.result + '">';
		            };
		            reader.onloadend = function (e) {
	                    $("#pic_src_base64").attr("value",e.target.result);

	                    var baseStr=document.getElementById("pic_src_base64").getAttribute("value"),tag="base64,";
						var baseStr=baseStr.substring(baseStr.indexOf(tag)+tag.length);
						var eqTagIndex=baseStr.indexOf("=");
						baseStr=eqTagIndex!=-1?baseStr.substring(0,eqTagIndex):baseStr;
						var strLen=baseStr.length;
						var fileSize=(strLen-(strLen/8)*2)/1024;//单位kb
						$("#pic_byte").attr("value",fileSize);
						if (fileSize>2048) {
							alert("文件大小过大，请上传小于2m的图片！");
						}
	                };
		        }

		    });
		    //粘贴方式的图片预览
			preview.addEventListener('paste', function pastePic(e,file) {
				var items = ((e.clipboardData || window.clipboardData).items) || [];
				var file = null;
				if (items && items.length) {
					for (var i = 0; i < items.length; i++) {
						if (items[i].type.indexOf('image') !== -1) {
							file = items[i].getAsFile();
							break;
						}
					}
				}
				if (!file) {
					Toast("粘贴错误：粘贴的内容非图片！");
					return;
				}
				var reader = new FileReader()
				reader.readAsDataURL(file);
				reader.onload = function(e) {
					//图片base64化
					preview.innerHTML = '<img src="' + e.target.result + '">';
				}
				reader.onloadend = function (e) {
	                $("#pic_src_base64").attr("value",e.target.result);
	                var baseStr=document.getElementById("pic_src_base64").getAttribute("value"),tag="base64,";
					var baseStr=baseStr.substring(baseStr.indexOf(tag)+tag.length);
					var eqTagIndex=baseStr.indexOf("=");
					baseStr=eqTagIndex!=-1?baseStr.substring(0,eqTagIndex):baseStr;
					var strLen=baseStr.length;
					var fileSize=(strLen-(strLen/8)*2)/1024;//单位kb
					$("#pic_byte").attr("value",fileSize);
					if (fileSize>2048) {
						alert("文件大小过大，请上传小于2m的图片！");
					}
	            };
			});

		});
		function SendForm ()
		{
			if(CheckPost())
			{
				document.forms['thisform'].submit();
			}
			else
				return false;
		}
		function CheckPost ()
		{
	      	if (thisform.pic.value == "")
	      	{
	      		$("#upload").attr("disabled", "disabled");
	          	Toast('提交失败：请上传图片！');
	          	return false;
	      	}
	      	if(thisform.pic_byte.value > 2048)
	      	{
	      		$("#upload").attr("disabled", "disabled");
	          	Toast('提交失败：请上传小于2M的图片！');
	          	return false;
	      	}
	    	return true;
		}
		function Toast(msg){
			var m = document.createElement('div');
			m.innerHTML = msg;
			m.style.cssText="width:200px;opacity: 0.6;height: 30px;color: rgb(255, 255, 255);line-height: 30px;text-align: center;border-radius: 5px;position:absolute;top:384px;right:5px;background:rgb(0, 0, 0);font-size: 12px;";
			document.getElementById("preview").appendChild(m);
			setTimeout(function() {
				var d = 0.5;
				m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
				m.style.opacity = '0';
				setTimeout(function() {	
					document.getElementById("preview").removeChild(m);
					$("#upload").removeAttr("disabled");
				 }, d * 1000);
			}, 1500);
		}
	</script>
</body>
</html>